html{
    overflow-x:hidden ;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: url("./photos/laptop-1571702_1920.jpg");
}
*{
    font-size: 22px;
    color: black;
    font-family: "League Spartan", sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    transition: 0.5s ease all;
}
header{  
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background:linear-gradient(to right, #13161b ,#35393c);

    padding: 50px 100px;
    z-index: 10;

}
.logo{
    width: 150px;
    

}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #921380;
    border-radius: 9em;
    width: 80%;
}
.nav-opener{
    display: none;
}
.nav-item{
    text-decoration: none;
    font-size: 18px;
    padding: 20px 16px;

    width: 100%;
    text-align: center;
    color: white;
    transition: 0.5s ease all;
}
.nav-item:hover{
    scale:100%
}


footer{
    padding: 50px 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;


  
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    width: 30%;
}
.columnB{
    display: grid;
    gap: 20px;
}
#wrapper{
    display: flex;
    width: 50%;
    justify-content: space-between;

}
.title{
    font-size: 24px;
}
.content{
    font-size: 16px;
}
.title,.content{
    color: white;
}
i{
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}
.content a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}


.certificates-dropdown:hover .certificates-dropdown-menu{
    display: flex;
}
.certificates-dropdown:hover svg{
    rotate: -90deg;
}
.certificates-dropdown-menu{
    position: absolute;
    background-color: #35393c;    
    align-items: center;
    flex-direction: column;
    border-radius: 0.5em;
    color: white;
    margin-top:20px;
    z-index:1;
    display: none;
    width: 150px;
    

}
.c-c{
    font-size: 16px;
    width: 100%;
    padding: 16px;
    color: white;
}
.c-c:hover{
    transform: scale(110%);
}


svg{
    color: white;
    margin: 0 0 -3px 10px;
    rotate: 0deg;
}


@media screen and (max-width:900px) {
    
.certificates-dropdown-menu{
    position: relative;
    background-color:transparent;    
    width: 100%;
    

}

.certificates-dropdown:hover .certificates-dropdown-menu{
    display: none;
}
.certificates-dropdown:hover svg{
    rotate: 0deg;
}
 
    .nav-bar{
        display: none;
    }


    header{
        padding: 25px 50px;
    }

    footer{
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 100px;
    }
    .column{
        width: 80%;
    }
    .title{
        font-size: 20px;
    }
    .content{
        font-size: 16px;
    }
    .column,#wrapper{
        width: 100%;
    }
    .logo{
        margin: 25px 50px;
    }
    .nav-opener{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
        cursor: pointer;
        margin: 25px 50px;
    }
    .line{
        width:50px;
        height: 5px;
        background-color: white;
        border-radius: 5em;
    }
    header{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        position: fixed;
        padding: 0;
    }
    .nav-bar{
        display: none;
        flex-direction: column;
        background:none ;
        margin: 0 auto;
    }
    .nav-item{
        color: white;
        margin: 0 auto;
    }


}
@media screen and (max-width:470px) {

    .logo{
        margin:25px 10px;
    }
    .nav-opener{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
        cursor: pointer;
        margin:25px 10px;
    }
    
    
    
}













/*   Certificates page  */

