
.introduction-text{
    animation: appear-right 1s ;
}
.introduction-image{
    animation: appear-left 1s;
}
.added-value-text{
    animation: appear-left 1s both;
    animation-timeline:view();
    animation-range: entry 50% cover 50%;
}
.added-value-image{
    animation: appear-right 1s both;
    animation-timeline:view();
    animation-range: entry 50% cover 50%;
}
main{
    display: flex;
    flex-direction: column;
    gap: 150px;

}
.introduction{
    align-items: center;

}
.introduction, .added-value,.info{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}
.added-value{

}
.introduction-text{
    width: 50%;
    
}
.introduction-title,.added-value-title{
    font-size: 32px;
}
.introduction-paragraph{

}
.learn-more{
    padding: 20px;
    border-radius:10em;
    transition:0.5s ease all ;
    background-color: #921380;
    color: white;
    cursor: pointer;
    border: 1px solid #921380;
}
.learn-more:hover{
    background-color: white;
    color: #921380;
    
}
.introduction-image,.added-value-image{
    width: 40%;
    min-height: 100%;
    border-radius: 1em;
    min-width:400px;
    min-height:400px ;
    max-height: 500px;
}
.added-value-text{
    width: 40%;
}
.added-value-paragraph{
    
}
.info{
    gap: 50px;
}
.info h1{
    font-size: 32px;
}
.info-card{
    background-color: white;
   text-align: center;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);*/
padding: 20px;
border-radius:1em;
width: 33%;
flex-wrap: wrap;


}
.info-card i {
    font-size: 75px;
    color: #921380;
}
.info-card:hover {
    background-color: #921380;
    color: white;
}
.info-card:hover h1, .info-card:hover p, .info-card:hover .info-i  { 
    color: white;
}
.statistics{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 75px;
    padding: 50px 100px;
    background-color:#fffcff;
}
.statistic{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: appear 1s both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;

}
.statistic-num{
    font-size: 40px;
}
.statistic-text,.statistic-num{
    text-align: center;
    font-weight: 300;
}
.certificates{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}
.certificates-title{
    font-size: 32px;
    margin-bottom: 100px;


}
.certificates-links{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    text-align: center;

}
.certificate{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 70%;
    animation: appear 1s both;
    border-radius: 1em;
    margin: 0 auto;
}
.certificate:hover{
    scale: 110%;
}
.fa-thumbs-up{
    color: black;
    font-size:100px;
}

.learn-more:hover .fa-arrow-up-right-from-square{
    color:#921380
}


.first-card{
    animation: appear-right 1s both;
    animation-timeline: view();
    animation-range:entry 50% cover 50% ;
}
.second-card{
    animation: appear 1s both;
    animation-timeline: view();
    animation-range:entry 50% cover 50% ;
}
.third-card{
    animation: appear-left 1s both;
    animation-timeline: view();
    animation-range:entry 50% cover 50% ;
}
@keyframes appear-right {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }

    
}
@keyframes appear-left {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }

}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@media screen and (max-width:1100px){
    .introduction, .added-value{
        padding: 25px 50px;
        display: flex;
        justify-content: space-between;
    }
    .added-value{
        align-items: center;

        
    }
    .added-value-text{
        width: 100%;
        text-align: center;

    }
    .added-value img{
        display: none;
    }
    .info{
        flex-direction: column;
    }
    .info-card{
        width: 100%;
    }
}

@media screen and (max-width:900px) {
    main{
        gap: 0px;
    }

    main{
        margin-top: 100px;
    }
 

    .added-value img{
        display: block;
    }
    .introduction, .added-value{
        display: flex;
        flex-direction: column;
        gap: 50px;

        align-items: center;
    }

    .added-value{
        flex-direction: column-reverse;
    }

    .introduction-text,.added-value-text{
     width: 100%;
    }
    .introduction-image{

    }
    .statistics{
        flex-direction: column;
    }
    .certificates-title{
      font-size: 32px;  
      margin-right:0 ;
      margin-left: 0;
    }
    .certificates-links{
        grid-template-columns: auto;
    }
    
    .added-value-title,.introduction-title{
        font-size: 35px;
    }
 



    .added-value-text{
        text-align: left;
        
    }
    
.introduction-image,.added-value-image{
    width: 40%;
    min-height: 100%;
    border-radius: 1em;
    min-width:100%;
}
    
}









